{% extends 'base.html' %}
{% block title %}
FPLVersus Compare
{% endblock %}

{% block styles %}
    <style>
        #videos {width: 50%;}
    </style>
{% endblock %}

{% block content %}
    <a href="/"> Go back </a>
    <table style="border: 1px solid black; border-collapse: collapse;">
        <thead>
            <tr>
                {% for header in player1Data.keys() %}
                <th style="border: 1px solid black;">
                    {{ header }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
             <tr>
                {% for val in player1Data.values() %}
                <td style="border: 1px solid black;">
                    {{ val }}
                </td>
                {% endfor %}
            </tr>
            <tr>
                {% for val in player2Data.values() %}
                <td style="border: 1px solid black;">
                    {{ val }}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <br>
        <div id="videos">
            {{ embed|safe }}
        </div>
    <br>
{% endblock %}