{% extends 'base.html' %}
{% block title %}
FPLVersus Compare
{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                {% for header in player1Data.keys() %}
                <th>
                    {{ header }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
             <tr>
                {% for val in player1Data.values() %}
                <td>
                    {{ val }}
                </td>
                {% endfor %}
            </tr>
            <tr>
                {% for val in player2Data.values() %}
                <td>
                    {{ val }}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <br>
    <a href="/"> Go back </a>
{% endblock %}